/* CombinedAnimation.css */

@keyframes combinedAnimation {
  0%, 100% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 25% 50%;
    background-color: #5dade2; /* Lighter blue color */
  }
  50% {
    background-position: 50% 50%;
    background-color: #85c1e9; /* Another shade of blue */
  }
  75% {
    background-position: 75% 50%;
    background-color: #aed6f1; /* Yet another shade of blue */
  }
}

@keyframes particleAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.animation {
  animation: combinedAnimation 8s infinite linear, particleAnimation 3s infinite ease-in-out;
  background: linear-gradient(90deg, #3498db, #5dade2, #85c1e9, #aed6f1, #3498db); /* Color wave with four blue shades */
  background-size: 400% 100%;
}
