@keyframes waveAnimation {
    0%, 100% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 100% 50%;
    }
    50% {
      background-position: 0% 50%;
    }
    75% {
      background-position: 100% 50%;
    }
  }
  
  .colorChange {
    animation: waveAnimation 5s infinite linear;
    background: linear-gradient(45deg, #FF5733 0%, #33FF57 25%, #2D68F7 50%, #FF5733 75%); /* Adjust colors as needed */
    background-size: 400% 400%;
  }